@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");

body {
  font-family: "Cinzel", Sans-serif;
}
.header {
  font-family: "Cinzel", Sans-serif;
  color: #808080;
}
